      <footer class="flex flex-col items-center gap-8 border-t border-white/10 px-5 py-10 text-center">
        <div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-4">
          <a class="text-zinc-400 text-sm font-normal leading-normal transition-colors hover:text-white"
            href="#">Contact</a>
          <a class="text-zinc-400 text-sm font-normal leading-normal transition-colors hover:text-white" href="#">À
            propos</a>
          <a class="text-zinc-400 text-sm font-normal leading-normal transition-colors hover:text-white"
            href="#">Politique de confidentialité</a>
          <a class="text-zinc-400 text-sm font-normal leading-normal transition-colors hover:text-white"
            href="#">Conditions d'utilisation</a>
        </div>
        <p class="text-zinc-500 text-sm font-normal leading-normal">© 2024 HN Service. Tous droits réservés.</p>
      </footer>
