  body {
      margin: 0;
      padding: 0;
      background-image: url('/src/assets/img/fond_hn.png');
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 100px 0 100px;
      height: 100vh;
       background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      align-items: center;
  }

  input,
  select {
      width: 300px;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: black;
  }

  h1 {
      text-align: center;
      color: white;
      margin-bottom: 20px;
  }

  #btn {
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      color: white;
      padding: 15px 30px;
      border: none;
      background-color: rgb(88, 0, 88);
      border-radius: 10px;
      font-size: 16px;
  }

  #btn:hover {
      background-color: rgb(120, 0, 120);
  }

  form {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      color: white;
  }

